body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-15xl: 34px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke: #f5f5f5;
  --color-maroon: #5d0000;
  --color-black: #000;

  /* Border radiuses */
  --br-11xl: 30px;
}
