.dollar-gill-kyoshy7bjiq-unspla-icon {
  position: absolute;
  top: 79px;
  left: 0;
  width: 1440px;
  height: 480px;
  object-fit: cover;
}
.lesse {
  color: var(--color-maroon);
}
.effortlessed,
.gpa-estimation {
  position: absolute;
  top: 23px;
  left: 70px;
  font-size: var(--font-size-15xl);
  font-weight: 500;
}
.gpa-estimation {
  top: 786px;
}
.learn-more {
  top: 723px;
  left: 70px;
  font-size: var(--font-size-base);
  color: var(--color-maroon);
}
.home,
.learn-more,
.learn-more1 {
  position: absolute;
  font-weight: 500;
}
.learn-more1 {
  top: 837px;
  left: 70px;
  font-size: var(--font-size-base);
  color: var(--color-maroon);
}
.home {
  top: 30px;
  left: 473px;
}
.about,
.contact,
.features1,
.log-in,
.sign-up {
  position: absolute;
  top: 30px;
  left: 1129px;
  font-weight: 500;
}
.about,
.contact,
.features1,
.sign-up {
  left: 1277px;
}
.about,
.contact,
.features1 {
  left: 772px;
}
.about,
.contact {
  left: 622px;
}
.contact {
  left: 954px;
}
.underline {
  position: absolute;
  top: 73px;
  left: 775px;
  background-color: var(--color-maroon);
  width: 100px;
  height: 5px;
}
.search-bar-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 314px;
  height: 51px;
}
.search {
  position: absolute;
  top: 13px;
  left: 66px;
  font-weight: 500;
}
.material-symbols-lightsearch-icon {
  position: absolute;
  top: 13px;
  left: 17px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.search-bar {
  position: absolute;
  top: 127px;
  left: 70px;
  width: 314px;
  height: 51px;
  font-size: var(--font-size-base);
  color: rgba(0, 0, 0, 0.5);
}
.academic-help,
.our-services-include {
  position: absolute;
  top: 672px;
  left: 70px;
  font-size: var(--font-size-15xl);
  font-weight: 500;
}
.our-services-include {
  top: 598px;
  left: 541px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-maroon);
  width: 1440px;
  height: 91px;
}
.c2023effortlessed,
.effortlessed1 {
  position: absolute;
  top: 18.45px;
  left: 622px;
  font-weight: 500;
  display: inline-block;
  width: 195px;
  height: 46.36px;
}
.c2023effortlessed {
  top: 30.27px;
  left: 1214px;
  font-size: var(--font-size-base);
  width: 156px;
  height: 21.82px;
}
.bifacebook-icon,
.biinstagram-icon,
.mingcuteyoutube-fill-icon,
.pajamastwitter-icon {
  position: absolute;
  top: 30.27px;
  left: 70px;
  width: 24px;
  height: 21.82px;
  overflow: hidden;
}
.bifacebook-icon,
.biinstagram-icon,
.mingcuteyoutube-fill-icon {
  left: 125px;
}
.bifacebook-icon,
.biinstagram-icon {
  left: 180px;
}
.bifacebook-icon {
  left: 235px;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 91px;
}
.chat-with-a,
.footer {
  position: absolute;
  font-size: var(--font-size-15xl);
}
.footer {
  top: 1744px;
  left: 0;
  width: 1440px;
  height: 91px;
  color: var(--color-whitesmoke);
}
.chat-with-a {
  top: 905px;
  left: 428px;
  font-weight: 500;
}
.chat-directly-with {
  position: absolute;
  top: 956px;
  left: 373px;
  font-weight: 500;
}
.features-child {
  position: absolute;
  top: 1093px;
  left: 161px;
  background-color: var(--color-whitesmoke);
  width: 471px;
  height: 487px;
}
.th-year-computer {
  margin: 0;
}
.th-year-computer-container {
  position: absolute;
  top: 1332px;
  left: 279px;
  font-weight: 500;
}
.features-item {
  position: absolute;
  top: 1093px;
  left: 161px;
  background-color: var(--color-maroon);
  width: 471px;
  height: 75px;
}
.features-inner {
  position: absolute;
  top: 1117px;
  left: 310px;
  width: 174px;
  height: 174px;
  object-fit: cover;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-maroon);
  width: 316px;
  height: 60px;
}
.chat-with-melanie {
  position: absolute;
  top: 12px;
  left: 49px;
  font-weight: 500;
}
.rectangle-group {
  position: absolute;
  top: 1478px;
  left: 239px;
  width: 316px;
  height: 60px;
  color: var(--color-whitesmoke);
}
.rectangle-div {
  position: absolute;
  top: 1093px;
  left: 819px;
  background-color: var(--color-whitesmoke);
  width: 471px;
  height: 487px;
}
.th-year-electrical-container {
  position: absolute;
  top: 1332px;
  left: 937px;
  font-weight: 500;
}
.features-child1 {
  position: absolute;
  top: 1093px;
  left: 819px;
  background-color: var(--color-maroon);
  width: 471px;
  height: 75px;
}
.chat-with-john {
  position: absolute;
  top: 12px;
  left: 67px;
  font-weight: 500;
}
.rectangle-container {
  position: absolute;
  top: 1478px;
  left: 897px;
  width: 316px;
  height: 60px;
  color: var(--color-whitesmoke);
}
.group-icon {
  position: absolute;
  top: 1118px;
  left: 969px;
  width: 174px;
  height: 173px;
  object-fit: cover;
}
.features {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1835px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
